

<div class="modal">
    <div class="componentes-modal">
      <h2>Deletar Espaço</h2>
    
        <div class="list">
        <div class="informacoes">
          <img class="icon" src="../../assets/1.png" alt="">
          <span class="link">Anfiteatro</span>
        </div>
        <div class="informacoes">
            <img class="icon" src="../../assets/2.png" alt="">
            <span class="link">FATEC</span>
        </div>      
        </div>
        <button class="not">Negar</button>
        <button class="yes">Aceitar</button>
    
    </div>
    <img class="exit" src="../../assets/exit.png">
    
    </div>