<div class="container">
    <div class="sidebar">
        <div class="componentes-sidebar">
          <div class="logo-img">
            <img src="../../assets/logo.png" class="logo"> 
            
          </div>
      <hr>
      <ul class="lists">
        <li class="list">
          <a href="#" class="nav-link">
            <img src="../../message-circle (1).svg"  class="icon">
            <span class="link">Solicitar Espaço</span>
          </a>
        </li>

        <li class="list">
          <a href="#" class="nav-link">
            <img src="../solicitar/assets/Vector.svg"  class="icon">
            <span class="material-symbols-outlined">
             
              </span>
          <span class="link">Visualizar Solicitação</span>
          </a>
        </li>
      </ul>

      <div class="outside">
        <li class="list">
        <a href="" class="nav-link">
          <img src="../solicitar/assets/log-out.png"  class="icon">
            <span class="link">Sair</span>
          </a>
        </li>
      </div>
        
      

        </div>

    </div>
    
    <div class="form">
      <!--Ínicio do header-->
        <div class="titulo">
          <h2>Olá, Solicitante.</h2>
          <h3 class="solicitante">Visualize aqui o espaço que foi solicitado</h3>
        </div>


      <!--Início da tabela-->
      

      <div class="table">
      <table class="content-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Domenic</td>
            <td>88,110</td>
            <td>dcode</td>
          </tr>
          <tr class="active-row">
            <td>2</td>
            <td>Sally</td>
            <td>72,400</td>
            <td>Students</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
          </tr>
        </tbody>
      </table>
    </div>

      
     <footer>
      <hr class="line">
      <div class="rodape">
      
      <img src="../../assets/logo_transparente.png" class="logo_fsnt">
      <h3 class="subtitulo">Dúvidas? entre em contato</h3>
          
            <p class="num1">comunicacao@fsnt.com.br</p>
            <p class="num2">(14) 3405-2033</p>
  
         
      </div>
    </footer>     
      
          
        
    </div>

   
</div>
